body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

.btn-cool{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.btn-cool {background-color: #008CBA;} /* Blue */
